@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Lato:wght@400;700&family=Roboto&display=swap");

/*font-family: 'DM Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;*/

:root {
  --body-font-family: "Lato", sans-serif;
  --text-font-description: "Roboto", sans-serif;
  --body-font-size: 18px;
  --text-recettes-font-size: 12px;
  --titre-size: 36px;
  --bg-color-ingredients: #3282f7;
  --bg-color-appareils: #68d9a4;
  --bg-color-ustensiles: #ed6454;
  --bg-color-zone-recherche: #e7e7e7;
  --bg-color-zone-img: #c7bebe;
  --bg-color-zone-recettes: #e7e7e7;
  --text-color-choix: #ffffff;
  --text-color-body: #000000;
  --text-color-titre: #d04f4f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 22px 0 22px;  
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  color: var(--text-color-body);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#logo {
  width: 260px;
  height: 93px;
  margin: 0 auto;
}

/************barre de recherche*****************/
#searchBar {
  position: relative;
}

#recherche {
  font-family: var(--bg-color-zone-recherche);
  font-weight: 400;
  background-color: var(--bg-color-zone-recherche);
  overflow: hidden;
  text-overflow: ellipsis;
}

#loupe {
  position: absolute;
  font-weight: bold;
  z-index: 10;
  cursor: pointer;
  top: 33%;
  right: 14px;
}

.form-control {
  cursor: pointer;
}

/*************zones de recherches****************/

#ingredients-filter,
#appliances-filter,
#ustensils-filter {
  width: 170px;
}

#ingredients-filter::placeholder,
#appliances-filter::placeholder,
#ustensils-filter::placeholder {
  color: white;
}

input {
  height: 69px;
}

.opened-container {
  position: relative;
}

.chevron {
  position: absolute;
  right: 1.2rem;
  top: 20px;
  cursor: pointer;
}

.ingredient-item,
.appliance-item,
.ustensil-item {
  color: white;
}

.recipe ul {
  list-style-type: none;
  font-size: var(--text-recettes-font-size);
  padding-left: 0;
}

.list-items {
  white-space: nowrap;
  cursor: pointer;
}

.list-group {
  display: none;
  max-height: 397px;
  width: 667px;
  column-count: 3;
  overflow-y: auto;
  text-overflow: ellipsis;
}

.form-group {
  padding: 0;
  max-width: 1440px;
  gap: 20px;
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

/*******************cartes de recettes*****************************/
.card-body {
  background-color: #e7e7e7;
  overflow: hidden;
  height: 200px;
}

.card-img-top {
  background-color: #c7bebe;
  border: none;
  height: 178px;
  object-fit: cover;
  width: 100%;
}

.card {
  overflow: hidden;
  height: 100%;
}

h2 {
  font-size: var(--body-font-size);
}

.card-text {
  font-size: var(--text-recettes-font-size);
  text-overflow: ellipsis;
  height: 110px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 6;
  font-weight: 400;
  -webkit-box-orient: vertical;
  font-family: var(--text-font-description);
}

span img{
  position: relative;
  bottom: 3px;
}
